body {
    background-color:aquamarine;
}
h1 {
    color:darkslategrey;
}
h2 {
    color:darkslategrey;
}
h3 {
    color:navy;
}
.C:\Users\vitao\OneDrive\Pictures\Saved Pictures\Vita Profile Pic.jpg {
    border:3px solid darkslategrey
}